
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	background: #ffd7d1;
	margin: 0;
	padding: 0;
	color: #545454;
}

#app {
	display: grid;
	grid-template-columns: 154px auto;
	height: 100vh;
}

.nav-menu {
	background: #fff;
}

.logo {
	background: #669ae0;
	color: #fff;
	font-weight: bold;
	height: 74px;
	line-height: 74px;
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
}

.nav-menu-list {
	list-style-type: none;
	margin: 60px 0 0;

	li {
		margin-top: 15px;
	}

	a {
		color: #545454;
		font-weight: bold;
		text-decoration: none;
	}
}