
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	background: #efe7e7;
	margin: 0;
	padding: 0;
	color: #545454;
    overflow: overlay;
}

#app {
	display: grid;
	grid-template-columns: 154px auto;
	height: 100vh;
}

.nav-menu {
	background: #fff;
}

.nav-menu > * {
	position: fixed;
}

.logo {
	background: #669ae0;
	color: #fff;
	font-weight: bold;
	height: 74px;
	line-height: 74px;
	width: 154px;
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
}

.nav-menu-list {
	list-style-type: none;
	top: 100px;

	li {
		margin-top: 15px;
	}

	a {
		color: #545454;
		font-weight: bold;
		text-decoration: none;
	}
}

h2 {
	text-align: center;
}

//*** Photo Component***
.photos-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 150px);
	grid-gap: 20px 20px;
	justify-content: center;
}

//*** Search Component***

.search {
  margin: 0 auto;
  width: 350px;
}